# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# PDF 강의 자료 (저작권 문제로 공개하지 않음)
pdf/
*.pdf
.claude/
*.json

# Misc
_sass/vendors
assets/js/dist
